body {

	background-color: pink;
}

.navbar {

	background-color: pink!important;
	border: 1px solid white;

}

.navbar-brand {

	color:white!important;
	border-right: 1px solid white!important;
	padding: 10px;
}

.nav-link {

	color:white!important;
}


#image1 {

	height: auto;
	width:100%;
}

#image2 {

	height:auto;
	width:100%;
}

#image3 {

	height:auto;
	width:100%;
}

#image4 {

	height:auto;
	width: 100%;
}

#image5 {

	height:auto;
	width:100%;
}

#image6 {

	height:auto;
	width:100%;
}

h1 {

	font-size:12pt;
	color: white;
	margin-top:30px;
}

.card {

	    margin-top: 50px;

}

#music {

margin-top: 45px;
}

#music2 {

	margin-top:10px;
}

h2{
	font-size:12pt;
	color: white;
	
}

h3{
	font-size:12pt;
	color: white;
	margin-top:30px;
}

.btn-primary {
	background-color: pink;
	border-color: white;
}

#blog2 {
	margin-top: 25px;
	background-color: pink;
	color:white;
	border-color: white;
}

#gif {
width:100%;
	    right: 50px;
margin-top:35px;
}
